<link rel= "stylesheet" href = "~/css/bienvenida.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bienvenida</title>
</head>
<body>
    <header>
    <nav>
        <ul id="header">
            <img src="~/img/perro-paseando.jpg" />
            <li><a href="Usuario.html">Usuario</a></li>
            <li><a href="Notificaciones.html">Notificaciones</a></li>
            <li><a href="MenyHamburgesa.html">MenuHamburgesa</a></li>
        </ul>
    </nav>
    </header>
    <div>
        <img src="~/img/perro-paseando.jpg" alt="Imagen de perro y dueño">
        <button type="button">Paseos</button>
        <button type="button">Cuidados</button>
    </div>
    <div>
        <p>
        
        </p>
    </div>
</body>