<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Trabajador</title>
    <link rel="stylesheet" href="~/css/registroPersonal">
</head>
<body>
    <h1>Formulario de Registro de Trabajador</h1>
    <form id="registerForm" asp-action="RegistroPersonal" method="post" onsubmit="return validarContrasenia()">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        
        <div>
            <label for="fnac">Fecha de Nacimiento:</label>
            <input type="date" id="fnac" name="fnac" required>
        </div>

        <div>
            <label for="dni">DNI:</label>
            <input type="number" id="dni" name="dni" required>
        </div>

        <div>
            <label for="mail">Correo Electrónico:</label>
            <input type="email" id="mail" name="Mail" required>
        </div>

        <div>
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>
        </div>

        <div>
            <label for="cvu">CVU Alias:</label>
            <input type="text" id="cvu" name="CVUAlias" required>
        </div>

        <div>
    <label for="paseo">¿Está disponible para Paseo?</label>
    <input type="checkbox" id="paseo" name="Paseo" value="true">
</div>

<div>
    <label for="cuidado">¿Está disponible para Cuidado?</label>
    <input type="checkbox" id="cuidado" name="Cuidado" value="true">
</div>

        <div>
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="Ciudad" required>
        </div>

        <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" name="Contraseña" class="form-control" placeholder="Contraseña" required>
                </div>

                <div class="form-group">
                    <label for="contraseña2">Confirmar Contraseña</label>
                    <input type="password" id="contraseña2" name="ConfirmarContrasenia" class="form-control" placeholder="Confirmar Contraseña" required>
                </div>

        <div>
            <button type="submit">Registrar Trabajador</button>
        </div>
    </form>
    <script src="~/js/register.js"></script>
</body>
</html>
