@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/index.css">
<div class = "Login">
    <h1>Inicia Sesion</h1>
    <a href="@Url.Action("Login", "Account")">Login</a>
</div>
<div class = "Login">
    <h1>Registrate</h1>
    <a href="@Url.Action("Register", "Account")">Registrate</a>
</div>