@{
    ViewData["Title"] = "Index";
}

<div class = "Login">
    <h1>Index</h1>
    <a href="@Url.Action("Login", "Account")">Login</a>
</div>
<div class = "Login">
    <h1>Index</h1>
    <a href="@Url.Action("Register", "Account")">Registrate</a>
</div>